@import "./partials/variables";
@import "./partials/sidebar";
@import "./partials/themes";
@import "./partials/navbar";

.icon-style {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid;
  font-size: .9rem;
}

body {
  height: 100vh;
  margin: 0;
}

.wrapper {
  height: auto;
  padding-top: $navbar-height;

  @media (min-width: 768px) {
    height: 100%;
  }

  main {
    display: flex;
    height: auto;

    @media (min-width: 768px) {
      height: 100%;
    }

    .pages {
      overflow: auto;
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      opacity: .7;
      display: none;

      &.show {
        display: block;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }

  &.toggeled-sidebar {
    main {
      .overlay {
        display: block;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }
}

.toast {
  opacity: 1;
}

.user-initial {
  width: 35px; /* Ajusta el tamaño según tus necesidades */
  height: 35px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%; /* Esto crea un círculo */
  background: linear-gradient(to bottom right, #ff9966, #ff5e62); /* Cambia los colores según tus preferencias */
  color: white;
  font-size: 18px; /* Ajusta el tamaño de la letra según tus necesidades */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
