<aside class="sidebar shadow-sm">


  <div class="sidebar-profile d-flex flex-row justify-content-start align-items-center p-3">
    <div class="picture-wrapper">
      <div class="user-initial">
        {{ userService.getUserName()[0].toUpperCase() }}
      </div>
    </div>
    <div class="profile-details ms-3">
      <p class="mb-0 text-uppercase name">{{ userService.getUserName() }}</p>
      <small class="text-uppercase role">{{ userService.getRoleString(userService.getRole())}}</small>
    </div>
  </div>

  <nav class="sidebar-menu pt-3 pb-3">
    <ul class="menu-items">
      <li>
        <a [routerLink]="['/home']" [routerLinkActive]="['active']" (click)="toggleSidebar()">
          <i class="fas fa-house"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/territories']" [routerLinkActive]="['active']" (click)="toggleSidebar()">
          <i class="fa-solid fa-map-location-dot"></i>
          <span>Ver territorios</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/change-territory']" [routerLinkActive]="['active']" (click)="toggleSidebar()">
          <i class="fa-solid fa-hand-holding-hand"></i>
          <span>Entregar territorio</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/pick-territory']" [routerLinkActive]="['active']" (click)="toggleSidebar()">
          <i class="fa-solid fa-box-open"></i>
          <span>Recoger territorio</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/add-territory']" [routerLinkActive]="['active']" (click)="toggleSidebar()">
          <i class="fa-solid fa-address-card"></i>
          <span>Añadir territorio</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/generate-report']" [routerLinkActive]="['active']" (click)="toggleSidebar()">
          <i class="fa-solid fa-chart-pie"></i>
          <span>Generar reporte</span>
        </a>
      </li>

      <li *ngIf="userService.roleMatch(['SUPERADMIN', 'ADMIN'])">
        <a [routerLink]="['/users']" [routerLinkActive]="['active']" (click)="toggleSidebar()">
          <i class="fa-solid fa-user"></i>
          <span>Usuarios</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/add-person']" [routerLinkActive]="['active']" (click)="toggleSidebar()">
          <i class="fas fa-user-tie"></i>
          <span>Registrar hermano</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/persons']" [routerLinkActive]="['active']" (click)="toggleSidebar()">
          <i class="fas fa-user-tie"></i>
          <span>Ver hermanos</span>
        </a>
      </li>
      <li *ngIf="userService.roleMatch(['SUPERADMIN'])">
        <a [routerLink]="['/action-logs']" [routerLinkActive]="['active']" (click)="toggleSidebar()">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <span>Action logs</span>
        </a>
      </li>
      <li *ngIf="userService.roleMatch(['SUPERADMIN'])">
        <a [routerLink]="['/registration']" [routerLinkActive]="['active']" (click)="toggleSidebar()">
          <i class="fa fa-user"></i>
          <span>Añadir usuario</span>
        </a>
      </li>

    </ul>
    <div class="view-source mt-3">
      <a (click)="logout()" class="btn btn-block btn-lightning rounded-0">Cerrar sesión</a>
    </div>
  </nav>
</aside>
