<div class='body-content'>

  <div class="registration-form">

    <form #form="ngForm" (submit)="login(form)">

      <div class="form-icon">
        <span><i class="fas fa-user"></i></span>
      </div>

      <div class="form-group">
        <input type="text" class="form-control item" placeholder="Usuario" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName">
      </div>

      <div *ngIf="(userService.formModel.get('UserName')!.dirty || userService.formModel.get('UserName')!.touched) && userService.formModel.get('UserName')!.errors" class="alert alert-danger">
        <div *ngIf="userService.formModel.get('UserName')!.errors!['required']">Introduce el nombre de usuario</div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control item" placeholder="Contraseña" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-block create-account" [disabled]="!form.valid">Entrar</button>
      </div>

    </form>

  </div>

</div>
