.vs
TerritoryTool/logs
.vs
webapi/bin
webapi/obj
angularapp/obj
webapi/logs
webapi/Properties
webapi/webapi.csproj.user

webapi/Resources
/webapi/appsettings.Development.json
/TerritoryTool.slnLaunch.user
/webapi/TerritoryTool.db
