<div class="registration-form">

  <form [formGroup]="addPersonForm" (ngSubmit)="addPerson()" autocomplete="off">

    <div class="form-icon">
      <span><i class="fas fa-user-tie"></i></span>
    </div>


    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control item" formControlName="name" 
             [ngClass]="{ 'is-invalid': (f['name'].invalid && (f['name'].dirty || f['name'].touched)) }">
      
      <div *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)" class="invalid-feedback d-block">
        <div *ngIf="f['name'].hasError('required')">Introduce el nombre del hermano</div>
        <div *ngIf="f['name'].hasError('personExists')">El hermano ya existe</div>
      </div>
    </div>

    <div class="form_buttons">
      <button type="submit" class="btn btn-primary" [disabled]="addPersonForm.invalid">Registrar</button>
    </div>

  </form>

</div>
