<div class="registration-form">

  <form [formGroup]="pickTerritoryForm" (ngSubmit)="pickTerritory()">

    <div class="form-icon">
      <i class="fa-solid fa-elevator"></i>
    </div>

    <div class="form-group mb-2">
      <label>Territorio</label>

      <ng-select [items]="territories$ | async"
                 [minTermLength]="3"
                 [loading]="territoriesLoading"
                 typeToSearchText="Introduce 2 o más caracteres"
                 [typeahead]="territoriesInput$"
                 bindLabel="name"
                 formControlName="selectedTerritory"
                 [(ngModel)]="selectedTerritory"
                 (change)="onTerritorySelect($event)"
                 id="pickTerritoryNgSelectTerritories">
        <ng-template ng-label-tmp let-item="item">
          <span>{{item.name}}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          <span>({{item.code}}) {{item.name}}</span>
          <!--Aqui se podria utilizar un badge para el code-->
        </ng-template>
      </ng-select>
    </div>

    <div class="form-group">
      <label>Fecha manual</label>
      <div class="checkbox-wrapper-2 ms-1">
        <input type="checkbox" class="ikxBAC" formControlName="customDate">
      </div>

      <input *ngIf="f['customDate'].value" type="datetime-local" class="form-control item" formControlName="date" [ngClass]="{ 'is-invalid': f['date'].invalid && (f['date'].dirty || f['date'].touched) }"/>
      <div *ngIf="f['date'].errors && f['customDate'].value" class="invalid-feedback d-block">
        <div *ngIf="f['date'].errors?.['beforeGivenDate']">La fecha no puede ser anterior a la fecha de entrega</div>
      </div>

    </div>

    <div class="form_buttons">
      <button type="submit" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalScanner" (click)="startQrScanner()"><i class="fa fa-qrcode me-2"></i>Escanear QR</button>

      <button type="submit" class="btn btn-primary" [disabled]="!pickTerritoryForm.valid">Recoger territorio</button>
    </div>

  </form>

</div>

<div class="modal fade" id="modalScanner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" (click)="stopQrScanner()">
          <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Escanear QR</h4>
      </div>
      <div class="modal-body">
        <ngx-scanner-qrcode #action="scanner" [config]="config" (event)="onEvent($event, action)"></ngx-scanner-qrcode>
      </div>

    </div>
  </div>
</div>
<!--TODO: Sacar este modal a un componente-->
