<div class="registration-form">

  <form [formGroup]="addTerritoryForm" (ngSubmit)="addTerritory()">

    <div class="form-icon">
      <span><i class="fas fa-folder-plus"></i></span>
    </div>

    <div class="form-group">
      <label>Código</label>
      <input type="text" class="form-control item" formControlName="code" [ngClass]="{ 'is-invalid': (f['code'].dirty || f['code'].touched) && f['code'].errors && submitted}">
    </div>

    <div *ngIf="(f['code'].dirty || f['code'].touched) && f['code'].errors && submitted" class="alert alert-danger">
      <div *ngIf="f['code'].errors['required']">Introduce el código de territorio</div>
    </div>


    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control item" formControlName="name" [ngClass]="{ 'is-invalid': (f['name'].dirty || f['name'].touched) && f['name'].errors && submitted}">
    </div>

    <div *ngIf="(f['name'].dirty || f['name'].touched) && f['name'].errors && submitted" class="alert alert-danger">
      <div *ngIf="f['name'].errors['required']">Introduce el nombre del territorio</div>
    </div>

    <div class="form-group">
      <label>URL del mapa</label>
      <div class="input-group input-group">
        <input type="text" class="form-control item" formControlName="mapUrl" [ngClass]="{ 'is-invalid': (f['mapUrl'].dirty || f['mapUrl'].touched) && f['mapUrl'].errors && submitted}">
        <button class="btn btn-outline-secondary item" style="border-color: #dee2e6;" type="button" data-bs-toggle="modal" data-bs-target="#modalScanner" (click)="startQrScanner()"><i class="fa fa-qrcode"></i></button>
      </div>
    </div>

    <div *ngIf="(f['mapUrl'].dirty || f['mapUrl'].touched) && f['mapUrl'].errors && submitted" class="alert alert-danger">
      <div *ngIf="f['mapUrl'].errors['required']">Introduce la URL del mapa del territorio</div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-block create-account">Añadir territorio</button>
    </div>

  </form>

</div>



<div class="modal fade" id="modalScanner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" (click)="stopQrScanner()">
          <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Escanear QR</h4>
      </div>
      <div class="modal-body">
        <ngx-scanner-qrcode #action="scanner" [config]="config" (event)="onEvent($event, action)"></ngx-scanner-qrcode>
      </div>

    </div>
  </div>
</div>
