/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tabulator-tables/dist/css/tabulator_bootstrap5.min.css";

body {
  background-color: #f7f7f7 !important;
  font-family: 'Inter', sans-serif !important;
  -webkit-overflow-scrolling: touch;
}

.btn {
  font-weight: 500 !important;
}

.registration-form {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  padding: 50px 70px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);

  .form_buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
  }
}

.registration-form .form-icon {
  text-align: center;
  background-color: #5891ff;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
}

.form-group .item {
  border-radius: 10px;
  padding: 10px 15px;
}
.form-group .info {
  margin-left: 5px;
  font-weight: 500;
  border: unset;
  padding: 0;
}


.form-group label {
  color: #6a6a6a;
  font-weight: 500;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}



@media (max-width: 576px) {
  .registration-form {
    padding: 50px 20px;
  }

  .registration-form .form-icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }
}



.cards {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.svg-icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.125em;
}

/* Cards territorios */
.territory-card {
  width: 260px;
  height: 220px;
  background: white;
  border-radius: 30px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;

  .img {
    position: relative;
    width: 100%;
    height: 65%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .icon-container {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      margin: 15px;
    }

    .icon {
      transition: 0.2s ease-in-out;
      border-radius: 10px;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

      svg {
        width: 15px;
        height: 15px;
        transition: 0.2s ease-in-out;
      }
    }

    .icon:hover {
      transform: scale(1.05) rotate(10deg);
    }
  }

  .text {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: space-around;

    .h3 {
      font-size: 15px;
      font-weight: 600;
      color: black;
      display: flex;
    }

    .p {
      color: #999999;
      font-size: 13px;
      display: flex;
      justify-content:space-between;
    }
  }
}

.territory-card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  width: 273px;
  height: 231px;
}

.territory-card:hover .img img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
/*FILTROS*/

.filters-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .filters_item {
      border: 0;
      border-radius: 40px;
      box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
      padding: 4px 10px 4px 10px;
    }

    .filters_item:focus {
      border: 0;
      outline: none;
    }
  }

  .sorting {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .ng-select .ng-select-container {
      border-radius: 20px !important;
    }

    .ng-select.ng-select-opened .ng-select-container {
      border-radius: 20px 20px 0px 0px !important;
    }

    .ng-dropdown-panel.ng-select-bottom {
      border-radius: 0px 0px 20px 20px !important;
    }

    .ng-dropdown-panel .ng-dropdown-panel-items {
      border-radius: 0px 0px 20px 20px !important;
    }

    .ng-select .ng-select-container .ng-value-container {
      margin-right: 10px;
    }
  }
}


@media (max-width: 576px) {
  .filters-container {
    font-size: 0.9rem;
  }
}

.ng-select .ng-select-container {
  border-radius: 10px !important;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
}


.ng-select.ng-select-opened .ng-select-container {
  border-radius: 10px 10px 0px 0px !important;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

.ng-dropdown-panel.ng-select-bottom {
  border-radius: 0px 0px 10px 10px !important;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items {
  border-radius: 0px 0px 10px 10px !important;
}

 .ng-select.ng-select-single .ng-select-container {
  padding: 0px 0px 0px 15px;
}

.form-group .ng-select.ng-select-single .ng-select-container {
  height: 42px !important;
}


 .ng-select .ng-select-container .ng-value-container .ng-input > input {
  padding: 0px 0px 0px 15px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 0 !important;
}

.ng-select .ng-select-container .ng-value-container {
  padding-left: 0 !important;
}
.ng-select .ng-select-single .ng-select-container .ng-value-container .ng-input {
  position: static;
   left: 0;
   width: 0px;
}

/* Checkbox estilos */

.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #5891ff;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #535db3;
}


/* Checkboxes filtros territorios */
.filter-checkbox {
  position: relative;
  cursor: pointer;
  user-select: none;

  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }

  & :checked ~ .filter-checkbox_text {
    background-color: RGBA(var(--bs-primary-rgb),var(--bs-bg-opacity,1)) !important;
    animation: popEffect 0.2s ease;
  }

  & :not(:checked) ~ .filter-checkbox_text {
    background-color: RGBA(var(--bs-secondary-rgb),var(--bs-bg-opacity,1)) !important;
    animation: popEffectInverse 0.2s ease;
  }


  & .filter-checkbox_text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 4px 10px 4px 10px;
    background-color: RGBA(var(--bs-secondary-rgb),var(--bs-bg-opacity,1)) !important;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    color: #fff !important;

    & .fa {
      font-size: 30px;
      color: #6a9bd8;
    }
  }
}

@keyframes popEffect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes popEffectInverse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


/* Estilos select filtros */
.select-box {
  position: relative;
  display: block;
  width: 100%;
  color: #60666d;
  width: 140px;

  &__current {
    position: relative;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    cursor: pointer;
    outline: none;

    &:focus {
      & + .select-box__list {
        opacity: 1;
        // We have to set "animation-name: none;" to make the list visible (read below how it works)

        animation-name: none;

        .select-box__option {
          cursor: pointer;
        }
      }

      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
  }

  &__value {
    display: flex;
  }

  &__input {
    display: none;

    &:checked + .select-box__input-text {
      display: block;
    }
  }

  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 4px 10px 4px 10px;
    background-color: #fff;
    border-radius: 40px;
  }

  &__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    // We need to use animation with delay.
    // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
    // This delay will not be noticed because we set "opacity" to "0".
    // We also use "animation-fill-mode: forwards" to make the list stay hidden.

    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  }

  &__option {
    display: block;
    padding: 15px;
    background-color: #fff;

    &:hover,
    &:focus {
      color: #546c84;
      background-color: #fbfbfb;
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}


.sorting .sorting_direction {
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: RGBA(var(--bs-primary-rgb),var(--bs-bg-opacity,1));
  color: white;
  padding:4px 10px 4px 10px;
  border-radius: 20px;

  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }

  & :checked ~ i {
    transition: 0.2s ease;
  }

  & :not(:checked) ~ i {
    transform: rotate(180deg);
    transition: 0.2s ease;
  }
}
/*    Codigo de la navbar */
$hamburger-padding-x: 0px !default;
$hamburger-padding-y: 0px !default;
$hamburger-layer-width: 25px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 5px !default;
$hamburger-layer-color: #9b9ea2 !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;


// CSS timeline

.history-tl-container {
  margin: auto;
  display: block;
  position: relative;
}

.history-tl-container ul.tl {
  margin: 20px;
  padding: 0;
  display: inline-block;
}

.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  margin-left: 18px;
  min-height: 50px;
  border-left: 1px dashed #86D6FF;
  padding: 0 0 50px 30px;
  position: relative;
}

.history-tl-container ul.tl li:last-child {
  border-left: 0;
}

.history-tl-container ul.tl li::before {
  position: absolute;
  left: -10px;
  top: 0px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #258CC7;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before {
  border-color: #258CC7;
  transition: all 1000ms ease-in-out;
}

ul.tl li .item-title {
}

ul.tl li .item-detail {
  color: rgba(0,0,0,0.5);
  font-size: 12px;
}


@import './assets/territorytool';
/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";
/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "tabulator-tables";
