/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  background-color: #f7f7f7 !important;
}

.registration-form {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  padding: 50px 70px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

  .registration-form .form-icon {
    text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
  }

  .registration-form .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
  }

  .registration-form .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
  }



@media (max-width: 576px) {
  .registration-form {
    padding: 50px 20px;
  }

    .registration-form .form-icon {
      width: 70px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
    }
}


.mr-5px {
  margin-right: 5px;
}






.cards {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  font-family: 'Roboto Slab', serif;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  padding: 20px;
  max-width: 250px;
  margin-bottom: 15px;
}

  .card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
  }

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.card__actions {
  text-align: right;
  z-index: 3;
  position: absolute;
  width: 80%;
}

  .card__actions i {
    margin-left: 8px;
  }

    .card__actions i:hover {
      cursor: pointer;
      font-size: 17px;
      transition: all .2s cubic-bezier(0.175, 0.885, 0, 1);
    }

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.card:hover {
  height: 100%;
  opacity: 0.3;
}

  .card:hover .card__info {
    background-color: transparent;
    position: relative;
  }

.card:hover {
  opacity: 1;
}

.filters {
  margin-bottom: 10px;
}

  .filters input {
    border: 0;
    border-radius: 40px;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    padding: 4px 10px 4px 10px;
  }

    .filters input:focus {
      border: 0;
      outline: none;
    }



/*    Codigo de la navbar */

$hamburger-padding-x : 0px !default;
$hamburger-padding-y : 0px !default;
$hamburger-layer-width : 25px !default;
$hamburger-layer-height : 2px !default;
$hamburger-layer-spacing : 5px !default;
$hamburger-layer-color : #9b9ea2 !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity : 0.7 !default;

   
@import './assets/territorytool';
