<div *ngIf="territoryInfo" class="territory-detail-container">

  <div class="territory-detail-container-cell territory-detail-timeline">

    <div class="history-tl-container">
      <ul class="tl">
        <li class="tl-item" *ngFor="let timelineItem of territoryInfo.timelineItems">
          <div class="item-title">{{timelineItem.description}}</div>
          <div class="item-detail">{{timelineItem.date | timeago }}</div>
        </li>
      </ul>
    </div>
  </div>

  <img *ngIf="territoryInfo.imgUrl" class="territory-detail-container-cell territory-detail-map" [src]="territoryInfo.imgUrl" alt="Alternate Text" />
  <img *ngIf="!territoryInfo.imgUrl" class="territory-detail-container-cell territory-detail-map" src="./assets/img/testterritorio.png" alt="Alternate Text" />

  <div class="territory-detail-container-cell territory-detail-info">

    <h2 class="col-12">{{territoryInfo.name}}</h2>

    <div class="form-group mb-4 col-6">
      <label>Código</label>
      <p type="text" class="form-control info">{{territoryInfo.code}}</p>
    </div>

    <div class="form-group mb-4 col-6">
      <label>Asignado a</label>
      <p type="text" class="form-control info">{{territoryInfo.personName ?? 'Nadie'}}</p>
    </div>

    <div class="form-group mb-4 col-6">
      <label>URL Mapa</label>
      <p type="text" class="form-control info"><a href="{{territoryInfo.mapUrl}}" target="_blank">Click aqui</a></p>
    </div>

    <div class="form-group mb-4 col-6" *ngIf="!territoryInfo.personName">
      <label>No asignado desde</label>
      <p type="text" class="form-control info">{{territoryInfo.lastPickedDateUtc | date:'medium'}}</p>
    </div>

    <div class="form-group mb-4 col-6" *ngIf="territoryInfo.personName">
      <label>Fecha de entrega</label>
      <p type="text" class="form-control info">{{territoryInfo.givenDateUtc | date:'medium'}}</p>
    </div>

    <div class="form-group mb-4 col-6">
      <label>Veces entregado</label>
      <p type="text" class="form-control info">{{territoryInfo.pickedCount}}</p>
    </div>

    <div class="form-group mb-4 col-6">
      <label>Usuario</label>
      <p type="text" class="form-control info">{{territoryInfo.lastUser}}</p>
    </div>


  </div>


  <div class="territory-detail-container-cell territory-detail-actions">
    <button class="btn btn-primary" (click)="openEditModal()"><i class="fa fa-pen-to-square me-2"></i>Editar</button>
    <button class="btn btn-danger" (click)="openDeleteModal()"><i class="fa fa-trash me-2"></i>Eliminar</button>
    <button class="btn btn-secondary" (click)="refreshTerritoryImage()"><i class="fa fa-images me-2"></i>Refrescar imagen</button>
    <button *ngIf="!territoryInfo.personName" class="btn btn-secondary"><i class="fa fa-caret-up me-2"></i>Entregar territorio</button>
    <button *ngIf="territoryInfo.personName" class="btn btn-secondary" (click)="openPickTerritoryConfirm()"><i class="fa fa-caret-down me-2"></i>Recoger territorio</button>
  </div>

  <div class="territory-detail-container-cell territory-detail-statistics">
    test
  </div>

</div>

<edit-territory-modal [territoryInfo]="territoryToEdit" (territoryUpdated)="territoryUpdatedCallback()"></edit-territory-modal>

<delete-territory-modal [territoryId]="territoryId" (territoryDeleted)="territoryDeleteCallback()"></delete-territory-modal>

<div class="modal fade" id="pickTerritory" tabindex="-1" role="dialog" aria-labelledby="pickTerritory" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="col-xs-12 text-center">¿Seguro que quieres recoger este territorio?</h4>
        <div class="row justify-content-center mt-3">
          <button type="button" class="btn btn-secondary col-3 me-2" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary col-3" (click)="pickTerritory()">Recoger</button>
        </div>
      </div>
    </div>
  </div>
</div>
