<div class="select-box">
  <div class="select-box__current" tabindex="1">
    <div class="select-box__value" *ngFor="let option of options; let i = index">
      <input class="select-box__input" type="radio" id="{{i}}" value="{{i}}" name="role" checked="{{default == i ? 'checked' : ''}}"  (change)="selectedRadioButtonChanged(i)" />
      <p class="select-box__input-text">{{option}}</p>
    </div>
    <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true" />
  </div>
  <ul class="select-box__list">
    <li *ngFor="let option of options; let i = index">
      <label class="select-box__option" for="{{i}}" aria-hidden="aria-hidden">{{option}}</label>
    </li>
  </ul>
</div>
